<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Shiny Zhu" />
    <link href="http://shinyzhu.com/atom.xml" rel="alternate" title="IT's Shiny" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" href="http://lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }} - IT's Shiny</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>IT's Shiny</h1>
        <h2>Shiny's thoughts.</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>

        <aside id="sidebar">

          <p>&copy; 2013 Shiny Zhu</p>
          
          <p>Thank you all :)</p>
        </aside>
      </div>
    </div>

  
  </body>

  <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>