---
layout: default
---

{% assign author = site.author %}

<div class="row">
	<div class="col-md-8">

		<div id="post-content">			
			{{ content }}
		</div>

		<div id="related">
		  <h2>Related Posts</h2>
		  <ul class="posts">
		    {% for post in site.related_posts limit:3 %}
		      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		  </ul>
		</div>

	</div>
	<div class="col-md-4">
	
		<div id="post-meta">
			<img src="/img/avatar/{{ page.author }}.png">
			<a href="https://github.com/{{ author.github }}">{{ author.display_name }}</a>
		</div>
		
	</div>
</div>